@import "theme.scss";

.clubtitle {
    font-size: 4rem;
}

.clubimg-cover {
    position: relative;
}

.clubimg-bg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 768px) {
    .clubimg-bg {
        height: 150px;
        width: 104%;
        margin-right: -2%;
        margin-left: -2%;
    }

    .clubtitle {
        font-size: 2.4rem;
    }
}
