@import "theme.scss";

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

.title-display {
    font-weight: 700;
    color: $dark;
    font-size: calc(1.5em + 100%);
}

.updates-icon {
    height: 1.8em;
}
