@import "theme.scss";

.topbar-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.title-display {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $dark;
    font-size: calc(1.5em + 100%);
}
