@import "theme.scss";

.navigation-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navitems-container {
    display: flex !important;
    flex-direction: column !important;
    height: 85% !important;
    padding: 0 !important;
}

.navprofile-container {
    border-radius: 8px;
}

.navlogo {
    height: 40px;
}

.navitem {
    display: flex !important;
    align-items: center;
    padding: 0 !important;
    color: $secondary;
    font-family: $font-secondary;
    font-weight: 600;
    text-transform: uppercase;
}

.navitem:hover {
    color: $secondary !important;
    filter: brightness(1.5);
}

.navitem-active {
    filter: brightness(2) !important;
}

.navitem-icon {
    height: 1.4em;
}

@media (max-width: 992px) {
    .navlogo {
        width: 100%;
    }
}
