.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 25px;
    left: calc(280px + 10px);
    z-index: 999;
}

.back-icon {
    height: 1.8em;
}

// styles for tablet (lg)
@media (max-width: 992px) {
    .back-btn {
        left: calc(80px + 50px);
    }
}

// styles for mobile (md)
@media (max-width: 768px) {
    .back-btn {
        height: 34px;
        width: 34px;
        left: 20px;
    }
}
