@import "theme.scss";

.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.navigation-container {
    height: 100vh;
    width: 280px;
    background-color: $dark;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.topbar-container {
    height: 70px;
    padding: 10px 35px 0 35px;
}

.content-container {
    flex-grow: 1;
    margin: 0 10px;
    padding: 0 20px 10px 20px;
    border-radius: 6px;
    overflow-y: auto;
}

// styles for tablet (lg)
@media (max-width: 992px) {
    .navigation-container {
        width: 80px;
    }
}

// styles for mobile (md)
@media (max-width: 768px) {
    .navigation-container {
        display: none;
    }

    .content-container {
        margin: 0 0;
        padding: 0 15px;
    }

    .topbar-expand {
        height: 150px;
        padding: 10px 15px 0 15px;
    }
}
