@import "theme.scss";

.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.navigation-container {
    height: 100vh;
    width: 250px;
    background-color: $dark;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.topbar-container {
    height: 70px;
    padding: 10px 20px 0 20px;
}

.content-container {
    flex-grow: 1;
    margin: 20px;
    margin-top: 10px;
    padding: 0 20px 10px 20px;
    border-radius: 6px;
    overflow-y: auto;
}
