// Fonts {{{
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
// }}}

// Colors {{{
$bg-primary: #ffffff;
$bg-secondary: #f3f2f1;
// }}}

// Font Styles {{{
$actionbar-text: calc(36px + 1.2vw);
$card-text: calc(24px + 0.5vw);
// }}}

// Global Styles {{{
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 50px;
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clickable:hover {
    cursor: pointer;
}

.d-xlp {
    display: none;
}

.d-xlph {
    display: hidden;
}

.d-xlp-none {
    display: block;
}

.invert {
    filter: invert(1) !important;
}

// }}}

// Sidebars and Page Styles {{{
.page-container {
    padding-top: 70px;
    padding-left: 15px;
}

.leftbar {
    position: fixed;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    z-index: 9999;
    width: 0;
}

.rightbar {
    position: fixed;
    right: 0;
    height: 100% !important;
    z-index: 9999;
    width: 0;
}

.leftbar-collapse {
    width: 280px !important;
}

.rightbar-collapse {
    display: flex;
    flex-direction: column;
    background-color: $bg-secondary;
    width: 80vw !important;
    max-width: 400px !important;
}

.leftbar-item {
    display: flex;
    flex-direction: row;
}

.rightbar-item {
    display: flex;
    flex-direction: row;
}

.leftbar-nav {
    height: 93%;
}

.rightbar-nav {
    height: 93%;
}

.nav-icon {
    width: 24px;
}

.nav-icon:hover,
.nav-icon:focus,
.nav-icon:active {
    filter: brightness(0.4) invert(1);
}

.nav-icon-active {
    color: #111111 !important;
    filter: brightness(0) invert(1);
}

.leftbar-nav-link {
    color: #ffffff;
    text-decoration: none;
}

.leftbar-nav-link:hover,
.leftbar-nav-link:focus,
.leftbar-nav-link:active {
    color: #aaaaaa;
    text-decoration: none;
}

.rightbar-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.8em;
}
// }}}

// Navbar Styles {{{
.nav-top {
    background-color: $bg-primary !important;
    height: 70px;
}

.nav-dark {
    background-color: #0d0d0d !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.nav-light {
    background-color: $bg-secondary !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.nav-logo {
    height: 40px;
}

.nav-logo-sm {
    height: 40px;
    margin-left: -5px;
}

.update-icon-sm {
    height: 28px;
    margin-left: -5px;
}

.nav-close {
    height: 40px;
    filter: opacity(0.5);
}

.nav-btn {
    font-family: "Quicksand";
    font-weight: 600;
    border: 2px solid #eee;
}

.nav-divider {
    display: none;
}

.secondary-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand";

    .nav-btn {
        border: none;
        font-weight: 600 !important;
        border-radius: 500px;
        background-color: white !important;
        color: black !important;
    }
    .nav-btn:focus,
    .nav-btn:active,
    .nav-btn:hover {
        background-color: #ddd !important;
    }

    .nav-btn-active {
        font-weight: 600 !important;
        border-radius: 500px;
        background-color: black !important;
        color: white !important;
    }
}

.tab-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "Quicksand";
    background-color: $bg-secondary;
    border-radius: 8px;
    width: min-content;

    .nav-btn {
        border: none;
        font-weight: 600 !important;
        background-color: $bg-secondary !important;
        color: black !important;
    }
    .nav-btn:focus,
    .nav-btn:active,
    .nav-btn:hover {
        background-color: #ddd !important;
    }
    .nav-btn-icon {
        height: 1.4em;
    }

    .nav-btn-active {
        font-weight: 600 !important;
        background-color: black !important;
        color: white !important;
    }
    .nav-btn-icon-active {
        filter: invert(95%);
    }
}

// }}}

// ActionBar {{{
.actionbar-container {
    background-color: $bg-primary;
    font-size: $actionbar-text;
}

.actionbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actionbar-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.actionbar-title-thin {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    line-height: 1.2;
}
// }}}

// Tab Bar {{{
.nav-tab {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $bg-primary;
    display: inline-block;
    padding: 10px 25px;
    color: #aaa;
    text-decoration: none;
    border-radius: 6px 6px 0 0;
    border-bottom: 3px solid #000;
}

.nav-tab:hover {
    color: #555;
    background-color: #eee;
    text-decoration: none;
}

.nav-tab.active {
    background-color: #fff;
    color: #000;
    cursor: default;
    border: 3px solid #000;
    border-bottom: 3px solid $bg-primary;
}

.nav-tab-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    border: none;
}

.nav-tab-current {
    background-color: $bg-primary;
    color: #000;
    border: none !important;
}

.nav-tab-current:hover,
.nav-tab-current:focus,
.nav-tab-current:active {
    background-color: $bg-secondary;
    color: #000;
}
// }}}

// View Club {{{
.viewclub-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewclub-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: calc(0.6em + 1vw);
    line-height: 1.2;
}
// }}}

// Calendar {{{
.calendar-container {
    background-color: $bg-secondary;
    border-radius: 8px;
    height: 85vh;
}

.calendar-frame {
    width: 100%;
    height: 100%;
    border: none;
}
// }}}

// Searchbar {{{
.searchbar {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}
// }}}

// Error & Loading Components {{{
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.e404-banner {
    min-width: 300px;
    width: 40%;
}

.e401-banner {
    min-width: 250px;
    width: 40%;
}

.hello-banner {
    min-width: 200px;
    width: 20%;
}

.hello-msg {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: calc(1em + 1vw);
    color: #aaa;
}

.hello-header {
    font-size: 1.8em;
}

.error-msg {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: calc(1.5em + 1vw);
    color: #aaa;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.null-img {
    min-width: 200px;
    width: 30vw;
}

.null-msg {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: calc(1.5em + 1vw);
    color: #bbb;
}
// }}}

// Modal Styles {{{
.common-modal {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
// }}}

// Global Card Styles {{{
.card-header {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}

.card-footer {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}

.card-icon {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.5em;
}

.link-card,
.link-card:hover {
    color: #000;
    text-decoration: none;
}

.dash-card {
    color: #000;
}

.dash-card:hover {
    color: #000;
    text-decoration: none;
}

.elevate {
    transition: all 0.2s ease-out;
}

.elevate:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 10px 0 rgba(168, 182, 191, 0.6);
}
// }}}

// Event Card {{{
.event-card {
    font-family: "Poppins", sans-serif;
    font-size: $card-text;
    min-width: 300px !important;
}

.event-datetime {
    font-size: 0.7em;
    color: #555;
}

.event-name {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2;
}

.event-venue {
    font-size: 0.75em;
}

.event-audience {
    font-size: 0.75em;
}

.event-duration {
    font-size: 0.75em;
}

.event-state {
    font-size: 0.75em;
    width: fit-content;
    border-radius: 4px;
}
// }}}

// User Card {{{
.user-card {
    font-family: "Poppins", sans-serif;
    font-size: $card-text;
    min-width: 200px;
}

.user-name {
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.2;
}

.user-role {
    font-size: 0.65em;
    color: #555;
}

.user-mail,
.user-mobile {
    font-size: 0.6em;
}
// }}}

// Proposal Card {{{
.proposal-card {
    font-family: "Poppins", sans-serif;
    font-size: $card-text;
}

.proposal-club {
    font-size: 0.9em;
    font-weight: 700;
}

.proposal-date {
    font-size: 0.9em;
    font-weight: 700;
}

.proposal-time {
    font-size: 0.8em;
    font-weight: 700;
}

.proposal-link {
    font-size: 0.6em;
}

.proposal-link-btn {
    font-size: 0.8em;
}

.proposal-pdf {
    font-size: 0.6em;
}
.proposal-alert {
    font-family: "Poppins", sans-serif;
}

.proposal-alert-header {
    font-size: 1.2em;
    font-weight: 700;
}

.proposal-alert-datetime {
    font-size: 2em;
    font-weight: 700;
}
// }}}

// Club Card {{{
.club-card {
    font-family: "Poppins", sans-serif;
    font-size: $card-text;
    min-height: 150px;
}

.club-name {
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.2;
}

.club-mail {
    font-size: 0.6em;
    line-height: 1.2;
}
// }}}

// Update Card {{{
.update-card {
    font-family: "Poppins", sans-serif;
    font-size: $card-text;
}

.update-datetime {
    font-size: 0.7em;
}

.update-title {
    font-size: 0.9em;
    line-height: 1.2;
}

.update-content {
    font-size: 0.6em;
    white-space: pre-line;
}

.update-creator {
    font-size: 0.7em;
}
// }}}

// Event States {{{
.state-completed {
    background-color: #fff7cc;
    color: #99851b;
}

.state-deleted {
    background-color: #f7cccc;
    color: #b40000;
}

.state-created {
    background-color: #ddd;
    color: #555;
}

.state-approved {
    background-color: #ccf4dd;
    color: #007932;
}

.state-scheduled {
    background-color: #cce9fb;
    color: #005da8;
}

.state-published {
    background-color: #e5d2ec;
    color: #530f7c;
}
// }}}

// Log Items {{{
.log-time {
    font-weight: bold;
    font-size: 0.6em;
    color: #555555;
}

.log-date {
    font-weight: bold;
    font-size: 0.7em;
}

.log-message {
    font-size: 0.7em;
}

.log-0 {
    color: #00aa55;
}

.log-1 {
    color: #f9a825;
}

.log-2 {
    color: #b40000;
}
// }}}

// UserList Items {{{
.userlist-img {
    max-width: 50px;
    border-radius: 4px;
}
// }}}

// Buttons {{{
.back-btn {
    border: none;
    border-radius: 8px;
    background-color: #00000000 !important;
}

.back-btn:hover {
    background-color: #ccc !important;
}

.back-btn-icon {
    width: 2.5em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.card-btn {
    height: 1.2em;
    width: 1.2em;
    border-radius: 4px;
    cursor: pointer;
}

.new-btn {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 0.38em;
    color: #fff;
    background-color: #000;
}

.edit-btn,
.delete-btn,
.link-btn {
    background-color: #00000000;
    height: 50px !important;
    border: none;
}

.edit-btn:focus,
.edit-btn:active,
.edit-btn:hover {
    background-color: #fff7cc;
}

.edit-icon {
    height: 30px;
    width: 30px;
}

.delete-btn:focus,
.delete-btn:active,
.delete-btn:hover {
    background-color: #f7cccc;
}

.delete-icon {
    height: 30px;
    width: 30px;
}

.link-btn:focus,
.link-btn:active,
.link-btn:hover {
    background-color: #aaeffa;
}

.link-icon {
    height: 30px;
    width: 30px;
}

.common-btn {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}
// }}}

// Alerts {{{
.link-alert {
    font-size: 0.5em;
}
// }}}

// Styles exclusively for displays with width >= 768px (bs-md) {{{
@media (min-width: 768px) {
    .nav-divider {
        display: block;
    }
    .event-title {
        width: fit-content;
    }

    .leftbar {
        width: 80px;
    }

    .rightbar {
        width: 0;
    }

    .page-container {
        padding-left: 95px;
        padding-right: 15px;
    }
}
// }}}

// Styles exclusively for displays with width >= 992px (bs-lg) {{{
@media (min-width: 992px) {
    .leftbar {
        width: 260px;
    }

    .page-container {
        padding-left: 275px;
    }
}
//}}}

// Styles exclusively for displays with width >= 1400px (xlp) {{{
@media (min-width: 1400px) {
    .d-xlp,
    .d-xlph {
        display: block;
    }

    .d-xlp-none {
        display: none !important;
    }

    .rightbar {
        width: 400px;
    }

    .page-container {
        padding-right: 415px;
    }
}
//}}}
