@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

// global styles {{{
body {
    margin: 0;
    font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
// }}}

// bootstrap overrides {{{
.btn {
    font-family: $font-secondary !important;
    font-weight: 600;
}
// }}}

// utility classes {{{
.elevate {
    transition: all 0.2s ease-out;
}

.elevate:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 10px 0 rgba(168, 182, 191, 0.6);
}

.clickable {
    cursor: pointer;
}

.invisible-link {
    color: inherit !important;
    text-decoration: none !important;
}
// }}}
