body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

$primary: #0068c8;
$secondary: #555555;
$success: #02bc76;
$danger: #d60046;
$warning: #e78502;
$info: #483fcd;
$light: #f7f9fb;
$dark: #0f0f10;

@import "~bootstrap/scss/bootstrap";
